---
import LightBoardModal from "@/components/LightBoardModal.astro";
import TextH2 from "@/components/TextH2.astro";
import Acordeon from "@/components/Acordeon.astro";

import imgUtilizar1 from "@imgs/comoUtilizar/Display de posicionamiento de la lightboard.jpg";
import imgUtilizar2 from "@imgs/comoUtilizar/Display 3d de posicionamiento de la lightboard.png";
import imgUtilizar3 from "@imgs/comoUtilizar/Ejemplo del posicionamiento de la lightboard.jpg";
import imgUtilizar4 from "@imgs/comoUtilizar/Display de posicionamiento de la lightboard render.png";
import imgUtilizar5 from "@imgs/comoUtilizar/curva de edición.png";
import imgUtilizar6 from "@imgs/comoUtilizar/Antes.jpg";
import imgUtilizar7 from "@imgs/comoUtilizar/Despues.jpg";
import TextH3 from "@/components/TextH3.astro";
import Parrafo from "@/components/Parrafo.astro";
import ListaDeImagenes from "@/components/SliderDeImagenes.astro";
---

<section id="utilizar">
	<TextH2 texto="Como se utiliza esta pizarra de luz" />
	<div class="gridDeElementos">
		<div class="listaDeImagenesDesktop">
			<LightBoardModal
				src={imgUtilizar1}
				alt="Display de posicionamiento de la lightboard"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar2}
				alt="Display 3d de posicionamiento de la lightboard"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar3}
				alt="Ejemplo del posicionamiento de la lightboard"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar4}
				alt="Display de posicionamiento de la lightboard render"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar5}
				alt="Curva de edición de un video de lightboard"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar6}
				alt="imagen de Antes de la edición"
				ancho={400}
			/>
			<LightBoardModal
				src={imgUtilizar7}
				alt="imagen de Después de la edición"
				ancho={400}
			/>
		</div>
		<div class="listaDeImagenesMobile">
			<ListaDeImagenes numSlides={7}>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar1}
						alt="Display de posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar2}
						alt="Display 3d de posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar3}
						alt="Ejemplo del posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar4}
						alt="Display de posicionamiento de la lightboard render"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar5}
						alt="Curva de edición de un video de lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar6}
						alt="imagen de Antes de la edición"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar7}
						alt="imagen de Después de la edición"
						ancho={400}
					/>
				</div>
				<!-- Duplicadas -->
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar1}
						alt="Display de posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar2}
						alt="Display 3d de posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar3}
						alt="Ejemplo del posicionamiento de la lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar4}
						alt="Display de posicionamiento de la lightboard render"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar5}
						alt="Curva de edición de un video de lightboard"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar6}
						alt="imagen de Antes de la edición"
						ancho={400}
					/>
				</div>
				<div class="slide">
					<LightBoardModal
						src={imgUtilizar7}
						alt="imagen de Después de la edición"
						ancho={400}
					/>
				</div>
			</ListaDeImagenes>
		</div>
		<div class="contenedorDesplegables">
			<Acordeon titulo="Disposición de Elementos" name="ComoUtilizar" open>
				<Parrafo align="center">
					Los elementos deben ser dispuestos como se muestra en la imagen 1, con la
					cámara a 2 mt de distancia de la pizarra de luz, la lightboard en
					medio, el profesor entre la lightboard y el telón negro de fondo, Las
					luces deben ir al lado y arriba de la pizarra transparente apuntando
					al profesor, sin incidir directamente la luz en la pizarra de vidrio.
				</Parrafo>
			</Acordeon>
			<Acordeon titulo="La LightBoard" name="ComoUtilizar">
				<Parrafo align="center">
					A nuestra Lightboard se le puede regular la altura para que se adecue
					cómodamente a la estatura de cada profesor o profesora.
				</Parrafo>
				<Parrafo align="center">
					se puede elegir diversos colores en la pizarra transparente para que
					resalte mejor el color del plumón, su editor de video debe decir que
					color seleccionar para que sea una toma optima, ahora la pizarra de
					luz tiene un modo de arcoíris o transición de colores rápida y lenta,
					no recomendamos ninguna de estas opciones, les sugerimos dejar un
					color fijo o blanco.
				</Parrafo>
			</Acordeon>
			<Acordeon titulo="El Profesor o Profesora" name="ComoUtilizar">
				<Parrafo align="center">
					El profesor debe ocupar preferentemente ropa oscura, escribir normal y
					es deseable no escribir donde está o estará su cara
				</Parrafo>
			</Acordeon>
			<Acordeon titulo="La Edición" name="ComoUtilizar">
				<Parrafo align="center">
					La edición es de las partes más importantes, puesto que el profesor
					escribe para sí mismo, por ende la imagen debe ser invertida en
					horizontal. También para lograr el perfecto efecto se debe aplicar
					tono, color y lo más importante, el contraste, idealmente una curva de
					contraste a todo el video para lograr el efecto lightboard
				</Parrafo>
			</Acordeon>
			<Acordeon titulo="Materiales" name="ComoUtilizar">
				<Parrafo align="center">
					Se utiliza la lightboard como una pizarra transparente para que el
					texto flote en el aire, un telón negro para el fondo, los plumones de
					Neón en el cual se refracta la luz, alcohol isopropílico para una
					limpieza profunda y un paño de microfibra para nos dejar pelos en la
					pizarra de luz
				</Parrafo>
			</Acordeon>
		</div>
	</div>
</section>

<style>
	.gridDeElementos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-top: 40px;
	}
	.listaDeImagenesDesktop {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		align-items: center;
		padding: 0 0 0 20px;
	}
	.listaDeImagenesMobile {
		display: none;
	}
	.contenedorDesplegables {
		display: flex;
		flex-direction: column;
		gap: clamp(10px, 6.36px + 1.136vw, 20px);
		position: sticky;
		top: 5px; /* o el valor que prefieras */
		align-self: flex-start; /* asegura que no se estire en grid */
		padding: 0 20px 0 0;
	}

	@media (width < 600px) {
		.gridDeElementos {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
		}
		.listaDeImagenesDesktop {
			display: none;
		}
		.listaDeImagenesMobile {
			display: block;
		}
		.contenedorDesplegables {
			padding: 0 20px;
		}
	}
</style>
